<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All Shows</title>
</head>
<body>
    <div class="container">
        <h1>All Shows</h1>
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
            {% for show in all_shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>
                    <td>
                        <a href="/shows/{{show.id}}">Show</a> | 
                        <a href="/shows/{{show.id}}/edit">Edit</a> | 
                        <a href="/shows/{{show.id}}/destroy">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div><a href="shows/new" class="btn btn-secondary">Add a New Show</a></div>
    </div>
</body>
</html>